extends layout

block content
  script.
    $(document).ready(function() {
      socket.on('ds-data', function(newData) {
        console.log('received data on browser');
        var data = JSON.parse(newData);
        console.log(data);
        $('#ds-currently').html(`
        <table>
          <tr>
            <th>Time</th>
            <th>Temp</th>
            <th>Cloud</th>
            <th>Ozone</th>
            <th/>
            <th>Power Prediction</th>
          </tr>
          <tr>
            <td>${data["currently"]["time"]}</td>
            <td>${data["currently"]["temp"]}</td>
            <td>${data["currently"]["cloud"]}</td>
            <td>${data["currently"]["ozone"]}</td>
            <td/>
            <td>??</td>
          </tr>
        </table>`);
        $('#ds-hourly').html(`<p>${JSON.stringify(data["hourly"])}</p>`);
      })
    })
    

  h1= title
  - var sentence_desc = description.charAt(0).toUpperCase() + description.slice(1) + '.';
  p #{sentence_desc}
  br

  b Location:
  select(id='input-location' onchange='updateLocation(this)' name="input-location" value='babcock')
    option(value='babcock') Babcock
    option(value='mountainview') Mountainview
    option(value='westside') Westside

  div(id='dark-sky-data')
    ul
      li
        div(id='ds-currently')
      li
        div(id='ds-hourly')

  br
  br
  a(href='/') Home
