extends layout

block content
  h1= title
  p Welcome to #{title}, #{description}.
  br

  form(method="post")
    label(for="apikey") API Key:
    input(type='text' name='apikey')
    br
    label(for='location') Location:
    select(name="location" onchange='updateLocation(this)')
      option(id='b-location' value='babcock') Babcock
      option(id='m-location' value='mountainview') Mountainview
      option(id='w-location' value='westside' checked) Westside
    br

    input(type='submit' value='View')
    input(type='checkbox' id='test' checked)
    |(for testing)
  br

  script.
    //use jquery to access DOM elements
    $(document).ready(function() {
      socket.on('ds-data', function(newData) {
        console.log('received data on browser');
        var data = JSON.parse(newData);

        // CONSTRUCT TABLE HEADER
        var headerHTML = "<tr>\n";
        Object.entries(brows.FACTOR_LIST_DESC).forEach(function(factor) {
          headerHTML += `<th>${factor[1]}</th>\n`;
        })
        headerHTML += "</tr>\n";

        // CONSTRUCT TABLE BODY for currently
        var currentlyHTML = "<tr>\n";
        Object.entries(data.currently).forEach(function(entry) {
          currentlyHTML += `<td>${entry[1]}</td>\n`;
        })
        currentlyHTML += "</tr>\n";

        // CONSTRUCT TABLE BODY for hourly
        var hourlyHTML = "<tr>\n";

        hourlyHTML += "</tr>\n";

        $('#weather-currently').html(`<table>${headerHTML}${currentlyHTML}</table>\n`);
        $('#weather-hourly').html(hourlyHTML);
      })
    })
  
  div(id='weather-currently')
  div(id='weather-hourly')