extends layout

block content
  h1= title
  p Welcome to #{title}, #{description}.
  br

  form(method="post")
    label(for='apikey') API Key:
    input(type='text' name='apikey')
    br
    label(for='location') Location:
    select(id='locationID' name='location' onchange='updateLocation(this)')
      option(id='b-location' value='Babcock') Babcock
      option(id='m-location' value='Mountainview') Mountainview
      option(id='w-location' value='Westside') Westside

    script.
      console.log(location);
      $("#locationID").val(location);
      
    br
    input(type='submit' value='View')
  br

  hr
  
  p Location: #{location}
  br

  script.
    //use jquery to access DOM elements
    $(document).ready(function() {
      socket.on('ds-data', function(newData) {
        console.log('received data on browser');
        var data = JSON.parse(newData);

        // CONSTRUCT TABLE HEADER
        var headerHTML = "<tr>\n";
        Object.entries(brows.FACTOR_LIST_DESC).forEach(function(factor) {
          headerHTML += `<th>${factor[1]}</th>\n`;
        })
        headerHTML += "</tr>\n";

        // CONSTRUCT TABLE BODY for currently
        var currentlyHTML = "<tr>\n";
        Object.entries(data.currently).forEach(function(entry) {
          var clas = "";
          if (entry[0] == "power") {
            clas = "class=power";
          }
          currentlyHTML += `<td ${clas}>${entry[1]}</td>\n`;
        })
        currentlyHTML += "</tr>\n";

        // CONSTRUCT TABLE BODY for hourly
        var hourlyHTML = "";
        data.hourly.data.forEach(function(hourlyPred) {
          hourlyHTML += "<tr>\n"
          Object.entries(hourlyPred).forEach(function(entry) {
            var clas = "";
            if (entry[0] == "power") {
              clas = "class=power";
            }
            hourlyHTML += `<td ${clas}>${entry[1]}</td>\n`;
          })
          hourlyHTML += "</tr>\n";
        })

        $('#weather-currently').html(`<table>${headerHTML}${currentlyHTML}</table>\n`);
        $('#weather-hourly').html(`<table>${headerHTML}${hourlyHTML}</table>\n`);
      })
    })
  
  h2 Current Weather
  div(id='weather-currently')
    p [Waiting for selection...]
  br
  h2 Forecast
  div(id='weather-hourly')
    p [Waiting for selection...]